<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>a.m 8:30 영양 닭죽</string>
	<string>p.m. 13:20 소고기 야채 이유식</string>
	<string>p.m. 19:45 양배추 단호박 미음</string>
	<string>p.m. 19:45 양배추 단호박 미음</string>
	<string>p.m. 19:45 양배추 단호박 미음</string>
	<string>p.m. 19:45 양배추 단호박 미음</string>
	<string>p.m. 13:20 소고기 야채 이유식</string>
	<string>p.m. 13:20 소고기 야채 이유식</string>
	<string>p.m. 13:20 소고기 야채 이유식</string>
	<string>a.m 8:30 영양 닭죽</string>
	<string>a.m 8:30 영양 닭죽</string>
	<string>a.m 8:30 영양 닭죽</string>
</array>
</plist>
