<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CLCalender.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>CLWeeklyCalender.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>CWFood.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>JBChart.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>038232F71B6F53B6009936E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>038233011B6F53B6009936E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03B2F5401B9B27CC006C5266</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03B2F54A1B9B27CD006C5266</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03B2F5BF1B9B3240006C5266</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03B2F5C91B9B3240006C5266</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03F1FE6D1B43C77B00DE48C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03F1FE821B43C77B00DE48C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
