<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>안녕하세요~</string>
		<key>name</key>
		<string>민빈맘</string>
		<key>Desc</key>
		<string>테스트 내용 1</string>
		<key>time</key>
		<string>15-09-21</string>
	</dict>
	<dict>
		<key>title</key>
		<string>바쁜 하루 ~ 잘 보내시고 계신가요?</string>
		<key>name</key>
		<string>꽁이mom</string>
		<key>Desc</key>
		<string>테스트 내용 1</string>
		<key>time</key>
		<string>15-09-19</string>
	</dict>
	<dict>
		<key>title</key>
		<string>아이 행복카드? 아시나요</string>
		<key>name</key>
		<string>꼬미언니</string>
		<key>Desc</key>
		<string>테스트 내용 1</string>
		<key>time</key>
		<string>15-09-16</string>
	</dict>
	<dict>
		<key>title</key>
		<string>33주차 불면증</string>
		<key>name</key>
		<string>꼬꼬찐이</string>
		<key>Desc</key>
		<string>테스트 내용 1</string>
		<key>time</key>
		<string>15-09-15</string>
	</dict>
	<dict>
		<key>title</key>
		<string>드뎌 막달검사 했어요 ㅎㅎ</string>
		<key>name</key>
		<string>튼튼맘ㅋ</string>
		<key>Desc</key>
		<string>테스트 내용 1</string>
		<key>time</key>
		<string>15-09-15</string>
	</dict>
	<dict>
		<key>title</key>
		<string>카레</string>
		<key>name</key>
		<string>쑥쑥이 엄마당</string>
		<key>Desc</key>
		<string>테스트 내용 1</string>
		<key>time</key>
		<string>15-09-13</string>
	</dict>
	<dict>
		<key>title</key>
		<string>어제 스튜디오 다녀왔어요~</string>
		<key>name</key>
		<string>멋진엄마</string>
		<key>Desc</key>
		<string>테스트 내용 1</string>
		<key>time</key>
		<string>15-09-12</string>
	</dict>
	<dict>
		<key>title</key>
		<string>어제 먹인 이유식이에요^^</string>
		<key>name</key>
		<string>줌마</string>
		<key>Desc</key>
		<string>테스트 내용 1</string>
		<key>time</key>
		<string>15-09-10</string>
	</dict>
	<dict>
		<key>title</key>
		<string>[ 궁금해요 ] 저희 아이가 잘 토하는 편인데 무슨 이유식을 먹여야 좋을까요? 추천해주세요~</string>
		<key>name</key>
		<string>민빈엄마</string>
		<key>Desc</key>
		<string>이번 일주일은 어떻게 지나갔는지 모르겠어요 
하루 종일 이유식을 먹어도 애가 헛구역질을 하고 토를 하더라고요 병원에서 처방을 받아도 쉽게 나아 지질 않으니 정말 막막하네요 아이 낳고 이번 일주일 제일 고생한듯해요 ㅜㅜ 
그래서 여기 게시물에 한번 올려봅니다
혹시 신생아도 아닌데 자주 토하는 경우가 있나요? 우리 애가 그래요.... 
6개월이 넘어가는데 모유를 먹어도 그렇고 분유를 먹어도 그렇고... 별 차도가 없네요 
소화를 못 시키는 것 같아요... 뭘 먹여야 할까요?</string>
		<key>time</key>
		<string>15-09-13</string>
	</dict>
	<dict>
		<key>title</key>
		<string>정말 좋은 이유식! 믿거나 말거나~ㅎㅎㅎ</string>
		<key>name</key>
		<string>하진맘74</string>
		<key>Desc</key>
		<string>테스트 내용 1</string>
		<key>time</key>
		<string>15-09-07</string>
	</dict>
	<dict>
		<key>title</key>
		<string>휴가 다녀왔어요~~</string>
		<key>name</key>
		<string>동동이</string>
		<key>Desc</key>
		<string>테스트 내용 1</string>
		<key>time</key>
		<string>15-09-01</string>
	</dict>
	<dict>
		<key>title</key>
		<string>우리 아이 알리르기 반응 알아보는 법</string>
		<key>name</key>
		<string>행복맘이야</string>
		<key>Desc</key>
		<string>테스트 내용 1</string>
		<key>time</key>
		<string>15-08-27</string>
	</dict>
	<dict>
		<key>title</key>
		<string>색다른 이유식 만드는법</string>
		<key>name</key>
		<string>프라프치누</string>
		<key>Desc</key>
		<string>테스트 내용 1</string>
		<key>time</key>
		<string>15-08-24</string>
	</dict>
	<dict>
		<key>title</key>
		<string>우리 꽁이가 좋아하는 이유식</string>
		<key>name</key>
		<string>꽁이mom</string>
		<key>Desc</key>
		<string>테스트 내용 1</string>
		<key>time</key>
		<string>15-08-23</string>
	</dict>
	<dict>
		<key>title</key>
		<string>제가 만든 이유식 소개해요~~ </string>
		<key>name</key>
		<string>귀여운돌맹</string>
		<key>Desc</key>
		<string>테스트 내용 1</string>
		<key>time</key>
		<string>15-08-22</string>
	</dict>
</array>
</plist>
